@import "../media-queries.scss";
$greenFilter: #40bfff; // 绿色滤镜
$borderDefault: #dddddd;
$shadowDefault: #d3d1d1;

hr {
  border: 0;
  height: 1px !important;
  // background-color: $greenFilter;
  background-color: $borderDefault;
}

.more{
  background-color: #fff;
  width: 100%;
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.top {
  // border-bottom: 1px solid $greenFilter; // $borderDefault
  position: sticky;
  top: 0;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: #fff;
  z-index: 1;
  width: 100%;
  // box-shadow: 0px -1px 10px 0px #ffffff;


  & :not(:last-child) {
    padding: 8px 0px;
  }

  .midden {
    width: 300px;

    @include phone {
      width: 100%;
    }

    // margin-left: 100px;
  }

  .right {
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .item {
      display: flex;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #1890ff;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

.container {
  gap: 20px;
  row-gap: 20px;
  column-gap: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .item {
    flex: 1 0 40%;
    padding: 20px;
    border-radius: 5px;
    // box-shadow: 0px 0px 7px 0px $greenFilter;
    box-shadow: 0px 0px 7px 0px $shadowDefault; // $shadowDefault
    // border: solid 1px $greenFilter;
    border: solid 1px $borderDefault; // $borderDefault

    .title {
      margin-bottom: 6px;

      .caption {
        display: flex;
        align-items: center;
      }
    }

    .description {
      margin-top: 8px;
      max-height: 460px;
      overflow: auto;
    }
  }
}

.bottom {
  min-height: 40px;
  background-color: #efefef;
  display: none;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 1100px) {
  .more{
    display: flex;
    position: sticky;
    top: 0px;
    height: 40px;
    padding: 0rem 1rem;
    z-index: 1;
  }
  .hasShadow{
    box-shadow: 0px 6px 7px 0px #00000024;
  }
  .top {
    flex-direction: column;
    top: 40px;
    box-shadow: 0px 6px 7px 0px #00000024;
  }

  .midden {
    margin-left: 0px;
  }

  .container {
    flex-direction: column;
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
}
@media screen and (min-width: 1101px) {
  .top {
    display: flex !important;
  }

}

// 解决因为图片无法自适应缩小导致的页面布局异常的bug！
::ng-deep img {
  max-width: 100%; // 图片必须设置最大宽度为100%，因为有些图片可能宽度没那么大，强行100%会被拉伸,效果不好！
  display: block;
}

// 解决因为table表格无法自适应缩小导致的页面布局异常的bug！
::ng-deep table {
  width: 100%; // 表格的宽度必须设置为！100%.不可以是max-width属性！
  display: block;
}