@import "./media-queries.scss";
@mixin flex-start-center($direction: row) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: $direction;
}
@mixin flex-center-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin flex-between-center($direction: row) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}
